html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    background: linear-gradient(141deg, #FCF6E7 0%, #e1d2ce 51%, #d7c4bd 75%);
    cursor: none;
}
.cursor{
    z-index: 999;
    position: fixed;
    background: #E54712;
    opacity: 0.25;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 28px #E54712, 0 0 68px #E54712;
    transform: translate(-50%, -50%);
    display: none;
}
header img {
    display: block;
    margin: 2rem auto 1rem auto;
    max-width: 200px;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 2rem;
    gap: 1rem;
}
.nav-links {
    display: flex;
    gap: 1rem;
}
.nav-links a {
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.hamburger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .logo-box img {
        width: 180px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #e2dcbd;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 1rem;
    }

    .nav-links.show {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .aboutMe {
        font-size: 10px;
    }

    .imgWithIcons {
        flex-direction: column;
        align-items: center;
    }

    .social-icons {
       flex-direction: row; 
    }
}

/* PROJECTS DISPLAY TOGGLE BUTTONS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    padding: 2em;
}

.button {
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.buttonResume {
    background-color: #f8f5ee; 
    color: black; 
    border: 2px solid #fcb161;
    font-family: 'Inter', sans-serif;
}

.buttonResume:hover {
    background-color: #f38c1f;
    color: #ffffff;
}

svg {
    height: 33px;
    width: 33px;
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 30px;
    margin: 15px;
}

.social-icons a:hover {
    background-color: #FFA400;
    opacity:0.7;
    padding: 2.5px;
    border-radius: 50%;
}

.imgWithIcons {
    display: flex;
    gap: 20px;
    align-items: center;
}
.img-fluid {
    height:auto;
    width:375px;
    height:375px;
    border-radius:50%;
    object-fit:cover;
}

/* Main Container */
.main-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
}

/* Left Container: Intro */
.intro-container {
    flex: 1 1 300px;
    margin: 1rem;
    padding: 1.5rem 3rem;
    border-radius: 8px;
    text-align: left;
}

/* Right Container: Skills */
.skills-container {
    flex: 1 1 300px;
    margin: 1rem;
    padding: 1.5rem 3rem;
    padding-bottom: 8%;
    border-radius: 8px;
    text-align: left;
}

/* Heading Styling */
.intro-container h2, .skills-container h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Skills List Styling */
.skills-grid {
    display: grid;
    padding: 5%;
    grid-template-columns: repeat(3, 1fr); /* 3 icons per row */
    gap: 15px;
}
.skill-item {
    text-align: center;
    font-size: 0.9rem;
}

/* Display Projects */
.containerToggle {
    width: 90%;
    max-width: 1200px;
    text-align: center;
    margin: auto;
}
.toggle-container {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-bottom: 20px;
}
.toggle-button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #f38c1f;
    color: white;
}
.toggle-button.active {
    background-color: #b66a19;
}
.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.project-card {
    background-color: #f9f4e8;
    border: 1px solid #f38c1f;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 1em 0;
    padding: 1em;
}
.project-card img {
    width: 100%;
    height: auto;
}
.project-card p {
    padding: 15px;
    font-size: 1rem;
}
.project-card.hidden {
    display: none;
}
.project-card:hover {
    transform: translateY(-10px);
}

@media (max-width: 768px) {
    .projects-container {
        grid-template-columns: 1fr;
    }

    .animationSlideIn {
        animation: appear 5s linear;
        animation-timeline: view();
        animation-range: entry 30% cover 40%;
    }

    @keyframes appear {
        from {
            opacity: 0.5;
            scale: 0.5;
            transform: translateX(-100px);
        }
        to {
            opacity: 1;
            scale: 1;
            transform: translateX(0px);
        }
    }
}


/* LAYOUT OF HOME PAGE */
.containerHome {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-family: 'Inter', sans-serif;
    justify-content: center;
    min-height: 78vh;
}
.text {
    text-align: left;
}
.text p {
    margin: 5px 0;
    font-size: 2.5rem;
}
  .text strong {
    font-weight: bold;
}
  .subtext {
    font-size: 1rem;
    color: #000000;
}

@media (max-width: 1200px) {
    .containerHome {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
}


/* ABOUT ME TEXT FORMATTING */
.aboutMe {
    display: flex;
    padding: 2.5%;
    margin: 3.5%;
    font-size: 20px;
    font-family: "Poppins", serif;
}

/* FONT FOR WHOLE WEBSITE */
p {
    font-family: 'Inter', sans-serif;
}

/* Service-Learning and Competition section */

.volunteeringLayout{
    padding-top: 15%;
    gap: 10%;
    align-items: center;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.descriptionContainer {
    flex: 1 1 305px; 
    padding: 10px;
    width: 40%;
    height: 60%;
    margin: 20px;
    font-size: 20px;
}

.cardImg {
    width:450px; 
    height:350px; 
    border-radius: 50%;
}

@media screen and (max-width: 1000px) {
    .volunteeringLayout img {
        width:100%;
        align-items: center;
    }
    .descriptionContainer {
        width:40%;
    }
}

@media screen and (max-width: 500px) {

    .descriptionContainer {
        width:80%;
        height: 80%;
        font-size: 14px;
    }

    .flip-card {
        height:450px;
        justify-self: center;
    }
}


/* Hover Flip Cards for Competitions and Volunteering */

.flip-card {
    padding:15px;
    margin: 20px;
    background-color: transparent;
    width: 90%;
    height: 350px;
    perspective: 1000px;
    justify-self: center;
  }
  
  .flip-card-inner {
    border-radius: 5%;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    border-radius: 5%;
    background-color: #fff6e2;
    color: black;
    align-content: center;
    padding:10px;
  }
  
  .flip-card-back {
    border-radius: 5%;
    background-color: #F38C1F;
    color: white;
    transform: rotateX(180deg);
    align-content: center;
    padding:10px;
  }

  .flip-card-back p {
    font-size: 17px; 
    text-align: left; 
    padding:3%;
  }

  .flip-card-front p span {
    font-size:20px;
    padding-right: 2px;
  }


  footer{
    padding: 5%;
    margin: 70;
    text-align: center;
  }


/* slide in 1st */
.animationSlideIn{
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 30% cover 40%;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        scale: 1;
        transform: translateX(0px);
    }
}


/* slide in LEFT */
.animationSlideLeft{
    animation: animationSlideLeft 5s linear;
    animation-timeline: view();
    animation-range: entry 30% cover 40%;
}

@keyframes animationSlideLeft {
    from {
        opacity: 0;
        scale: 0.5;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        scale: 1;
        transform: translateX(0%);
    }
}

/* slide in RIGHT */
.animationSlideRight{
    animation: animationSlideRight 5s linear;
    animation-timeline: view();
    animation-range: entry 30% cover 40%;
}

@keyframes animationSlideRight {
    from {
        opacity: 0;
        scale: 0.5;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        scale: 1;
        transform: translateX(0%);
    }
}
